---
title: Research
layout: page
---
<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
<h2>Education</h2>
<ul>
    <li>
        Ph.D. Industrial Engineering, Hanyang University, 2024
        <ul class="indent">
            <li><i>Title:</i> Computationally Efficient Parameter Estimation of a Simulation Model for Multiple Observation Vectors</li>
            <li><i>Advisor:</i> Dr. Chuljin Park</li>
        </ul>
    </li>
    <li>B.S. Industrial Engineering, Hanyang University, 2017.</li>
</ul>

<h2>Employment History</h2>
<table>
    <tr>
        <td>Postdoctoral researcher (Visiting scholar), Industrial and Systems Engineering, Georgia Institute of Technology</td>
        <td>2024-current</td>
    </tr>
    <tr>
        <td>Postdoctoral researcher, BK21 FOUR, Industrial and Systems Engineering, Hanyang University</td>
        <td>2024-current</td>
    </tr>
</table>

<h2>Publications</h2>
<h3>International Journal Articles <small>($*$: Corresponding author)</small></h3>
<ul>
    <li>
        Kim, S., <b>H. Kim</b>, C. Park*, J. Jeong, H. Yang, S. Kong (2024). Optimal computing budget allocation for operations of a zone-picking system, <i>International Journal of Simulation Modelling</i>, 23(2): 203-214.
    </li>
    <li>
        <b>Kim, H.</b>, C. Park*, Y. Kang (2020). Distribution-guided heuristic search for nonlinear parameter estimation with an application in semiconductor manufacturing, <i>IISE Transactions</i>, 52(11), 1246-1261.
    </li>
    <li>
        <b>Kim, H.</b>, C. Park*, H. Kim. Surrogate-assisted parameter estimation for multiple vectors of observations, <i>Computational Statistics and Data Analysis</i>, under the 3rd round revision.
    </li>
    <li>
        <b>Kim, H.</b>, A. Hwang, C. Park*, S.C. Tsai. Surrogate-assisted controlled random search for optimization via simulation with continuous variables, <i>Computers and Operations Research</i>, under the 1st round revision.
    </li>
    <li>
        <b>Kim, H.</b>, C. Park*, H. Kim. Surrogate-assisted Multiple-try Metropolis for parallel Bayesian inferences, to be submitted. (Target journal: <i>IISE Transactions</i>)
    </li>
    <li>
        Kim, D. H., S.-H. Kim, C. Park*, <b>H. Kim</b>. Trisection algorithm with Bayes decisions for one-dimensional stochastic root finding problems, to be submitted. (Target Journal: <i>European Journal of Operational Research</i>)
    </li>
</ul>

<h3>Domestic Journal Articles <small>($*$: Corresponding author)</small></h3>
<ul>
    <li>
        <b>Kim, H.</b>, J. Ahn, S. Lee, J. Na, C. Park* (2024). Uncertainty quantification in semiconductor structure measurement using Markov chain Monte Carlo, <i>Korean Management Science Review</i>, 41(1), 39-49.
    </li>
    <li>
        <b>Kim, H.</b>, C. Park* (2023). Application of Markov chain Monte Carlo to the optical critical dimension with multiple observation vectors in semiconductor manufacturing, <i>Korean Management Science Review</i>, 40(4), 21-38.
    </li>
</ul>

<h2>Patents</h2>
<ul>
    <li><i>Method of measuring a critical dimension of a three-dimensional structure and apparatus for measuring the same</i>, US Patent, Registration No.: 11,320,732 (Co-work with SK hynix).</li>
    <li><i>Parameter estimation method using Markov chain Monte Carlo</i>, Korean Patent, Application No.: 10-2023-0113244.</li>
    <li><i>Method of measuring critical dimension of 3D feature and apparatus for the same</i>, Korean Patent, Registration No.: 10-2548410 (Co-work with SK hynix).</li>
    <li><i>Method for detecting location of abnormal state based on machine learning, learning method for detecting location of abnormal state</i>, Korean Patent, Registration No.: 10-2307373.</li>
    <li><i>Device of critical dimension based on controlled random search and method implementing thereof</i>, Korean Patent, Registration No.: 10-2548410 (Co-work with SK hynix).</li>
    <li><i>Method for detecting location of abnormal state based on machine learning, learning method for detecting location of abnormal state</i>, Korean Patent, Registration No.: 10-2048519.</li>
</ul>

<h2>Teaching Experience</h2>
<ul>
    <li>Hanyang University (Undergraduate, Instructor) - INE 1006 Simulation (Fall, 2023)</li>
</ul>

<h2>Research Grants</h2>
<ul>
    <li>Bayesian inference and machine learning techniques for smart measurement system, National Research Foundation of Korea, Korea, <b>Principal Investigator</b>, Total Dollar Amount: $44,000 (Sep. 2024 - Aug. 2025)</li>
    <li>Reinforcement learning-based decision support systems for operations of smart fulfillment centers, National Research Foundation of Korea, Korea, Co-Investigator (Jun. 2022 - Feb. 2025)</li>
    <li>Improving efficiency for measuring critical dimensions of semiconductor devices via machine learning techniques, National Research Foundation of Korea, Korea, Co-Investigator (Jun. 2019 - Feb. 2022)</li>
    <li>Optimal environmental monitoring network design using smart sensors, National Research Foundation of Korea, Korea, Co-Investigator (Jun. 2016 - Aug. 2019)</li>
    <li>Smart operations management plan for emergency medical centers using information and communication technology, National Research Foundation of Korea, Korea, Co-Investigator (Jun. 2015 - Feb. 2018)</li>
    <li>Development of OCD Spectrum Library Technology, SK hynix, Korea, Co-Investigator (Jul. 2016 - Jul. 2017)</li>
    <li>An education and research team for sharing and cooperation based smart systems, Ministry of Education, Korea, Co-Investigator (Sep. 2020 - Aug. 2027)</li>
    <li>2019 Second Half Excellent Integrated Master’s and Doctoral Course Additional Support Program, Hanyang University, Korea (Sep. 2019 - Feb. 2020)</li>
</ul>

<h2>Presentations</h2>
<h3>International Conferences</h3>
<ul>
    <li><b>Kim, H.</b>, C. Park, and H. Kim., "Efficient Parallel Bayesian Parameter Estimation of a Simulation Model via Surrogates-Assisted Multiple-Try Metropolis", INFORMS Annual Meeting, Seattle, United States (Oct. 2024)</li>
    <li><b>Kim, H.</b>, C. Park, and H. Kim., "Parameter estimation via random search with surrogate and simulation models for multiple vectors of observations", INFORMS Annual Meeting, Phoenix, United States (Oct. 2023)</li>
    <li>Park, C. and <b>H. Kim.</b>, "Repeatedly estimating correlated and normally distributed parameters of an expensive and highly nonlinear model", INFORMS Annual Meeting, Seattle, United States (Oct. 2019)</li>
    <li><b>Kim, H.</b> and C. Park, "Estimating correlated parameters for an expensive model with an application in semiconductor manufacturing", The Fifth International Conference on Interfaces Between Statistics and Engineering, Seoul, Korea (Jun. 2019)</li>
</ul>

<h2>Papers</h2>

<ul class="Papers-list">
	<li>Kim, H., C. Park*, Y. Kang (2020) Distribution-guided heuristic search for nonlinear parameter estimation with an application in semiconductor manufacturing, IISE Transactions. 52(11), 1246-1261.</li>
	<li>Kim, H., C. Park*, H. Kim. Surrogate-Assisted Parameter Estimation for Multiple Vectors of Observations, submitted to INFORMS Journal on Computing.</li>
	<li>Kim, S., H. Kim, C. Park*, J. Jeong, H. Yang and S. Kong. Optimal computing budget allocation for operations of a zone-picking system, submitted to International Journal of Simulation Modelling.</li>
	<li>Kim, H., A. Hwang, C. Park*, S.C. Tsai. Surrogate-assisted controlled random search for optimization via simulation with continuous variables, to be submitted.</li>
	<li>Kim, D. H., S.-H. Kim, C. Park*, H. Kim. Trisection algorithm with Bayes decisions for one-dimensional stochastic root finding problems, to be submitted.</li>
	<li>Kim, H., C. Park* (2023) Application of Markov Chain Monte Carlo to the Optical Critical Dimension with Multiple Observation Vectors in Semiconductor Manufacturing, Korean Management Science Review.</li>
</ul>


<h2>Patents</h2>

<ul class="Patents-list">
	<li>(US) Method of measuring a critical dimension of a three-dimensional structure and apparatus for measuring the same (publication number: 11,320,732, Co-work with SK hynix), 2022.</li>
	<li>(Korean) Parameter estimation method using Markov Chain Monte Carlo (application number: 10-2023-0113244), 2023.</li>
	<li>(Korean) Method of measuring critical dimension of 3D feature and apparatus for the same (application number: 10-2548410, Co-work with SK hynix), 2020.</li>
	<li>(Korean) Method for detecting location of abnormal state based on machine learning, learning method for detecting location of abnormal state (publication number: 10-2307373), 2021.</li>
	<li>(Korean) Device of critical dimension based on controlled random search and method implementing thereof (publication number: 10-2548410, Co-work with SK hynix), 2018.</li>
	<li>(Korean) Method for detecting location of abnormal state based on machine learning, learning method for detecting location of abnormal state (publication number: 10-2048519), 2019.</li>
</ul>

<h2>Research Projects</h2>

<ul class="Research Projects-list">
	<li>(Korean) Reinforcement learning-based decision support systems for operations of smart fulfillment centers, National Research Foundation of Korea, Korea (Jun. 2022 ~ Feb. 2025)</li>
	<li>(Korean) Improving efficiency for measuring critical dimensions of semiconductor devices via machine learning techniques, National Research Foundation of Korea, Korea (Jun. 2019 ~ Feb. 2022)</li>
	<li>(Korean) Optimal environmental monitoring network design using smart sensors, National Research Foundation of Korea, Korea (Jun. 2016 ~ Aug. 2019)</li>
	<li>(Korean) Smart operations management plan for emergency medical centers using information and communication technology, National Research Foundation of Korea, Korea (Jun. 2015 ~ Feb. 2018)</li>
	<li>(Korean) Development for OCD Spectrum Library techniques, SK hynix, Korea (Jul. 2016 ~ Jul. 2017)</li>

</ul>

<h2>Presentations</h2>
<h3>International Conference/Workshop Presentation</h3>
<ul class="International-list">
	<li>Kim, H., C. Park, and H. Kim., "Parameter Estimation via Random Search with Surrogate and Simulation Models for Multiple Vectors of Observations", INFORMS Annual Meeting, Phoenix, United States (Oct. 2023)</li>
	<li>Park, C. and H. Kim., "Repeatedly estimating correlated and normally distributed parameters of an expensive and highly nonlinear model", INFORMS Annual Meeting, Seattle, United States (Oct. 2019)</li>
	<li>Kim, H. and C. Park, "Estimating correlated parameters for an expensive model with an application in semiconductor manufacturing", The Fifth International Conference on Interfaces Between Statistics and Engineering, Seoul, Korea (Jun. 2019)</li>

</ul>

<h3>Local Conference</h3>
<ul class="Local-list">
	<li>(Korean) 김형진, 박철진. 배치형 모수 추정을 위한 대체 모형 기반 시뮬레이션 횟수 통제 방안, 한국경영과학회 추계학술대회, 서울, 2022.</li>
	<li>(Korean) 황애림, 김형진, 박철진. 연속형 변수를 포함하는 시뮬레이션 최적화 문제 해결을 위한 대체모형 기반 휴리스틱 알고리즘 개발, 춘계공동학술대회(한국경영과학회 주관), 제주도, 2022.</li>
	<li>(Korean) 박상명, 김형진, 박철진. 시뮬레이션 모형과 Multi-armed bandit 알고리즘을 통한 풀필먼트 센터 내 피킹 시스템 운영 방안, 춘계공동학술대회(한국경영과학회 주관), 제주도, 2022.</li>
	<li>(Korean) 김형진, 박철진. 단층 베이지안 신경망 모형을 활용한 배치형 모수 추정 문제의 효율적 해결방안, 춘계공동학술대회(대한산업공학회 주관), 제주도, 2021.</li>
	<li>(Korean) 김기헌, 김형진, 박철진. 반복적 비선형 모수 추정문제 해결을 위한 휴리스틱 알고리즘의 성능 개선, 한국산업경영시스템학회 춘계학술대회, 서울, 2021.</li>
	<li>(Korean) 김형진, 박철진. 계산량이 많은 비선형 모형에 대한 다변량 정규분포를 따르는 모수의 반복적 추정방법, 춘계공동학술대회(대한산업공학회 주관), 광주, 2019.</li>
</ul>
